@font-face {
  font-family: "Nunito";
  src: url("../../../../public/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../../../../public/fonts/Nunito-SemiBold.ttf");
}
@font-face {
  font-family: "Nunito";
  src: url("../../../../public/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../../../public/fonts/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../../../public/fonts/Ubuntu-Medium.ttf");
}
